<?xml version="1.0"?>
<launch>
    <arg name="quad_name" default="colibri"/>
    <group ns="$(arg quad_name)">
        <node pkg="sbus_bridge" name="sbus_bridge" type="sbus_bridge" output="screen">
            <rosparam file="$(find ros_gp_mpc)/parameters/$(arg quad_name).yaml"/>
            <param name="port_name" value="/dev/ttyTHS2"/>
            <remap from="control_command" to="quad/control_command"/>
            <!-- make it compatible with  quad gui -->
            <remap from="sbus_bridge/arm" to="bridge/arm"/>
        </node>

        <node pkg="rpg_single_board_io" type="voltage_reader" name="voltage_reader"
              output="screen">
            <param name="board_name" value="up"/>
            <param name="adc_id" value="0"/>
            <param name="read_voltage_frequency" value="10"/>
            <param name="voltage_divider_upper_res" value="183.51"/>
            <param name="voltage_divider_lower_res" value="11.93"/>
            <remap from="voltage_reader/voltage" to="battery_voltage"/>
        </node>

        <node pkg="pixhawk_bridge" type="pixhawk_bridge" name="pixhawk_bridge_quad" output="screen">
            <rosparam file="$(find pixhawk_bridge)/parameters/default.yaml"/>
            <param name="port_name" value="/dev/ttyUSB0"/>
            <param name="baud_rate" value="115200"/>
            <param name="publish_sensors" value="true"/>
            <param name="accept_commands" value="false"/>
            <param name="handle_parameters" value="false"/>
            <param name="publish_commands" value="true"/>
            <remap from="pixhawk_bridge/control_active" to="bridge/arm"/>
            <remap from="control_command" to="quad/control_command"/>
        </node>
    </group>
</launch>
